<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}My Flask App{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('home') }}">AdaBoost Workflow</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('upload_data') }}">Upload Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('preprocess_data') }}">Preprocess Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('visualize_data') }}">Visualize Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('train_model') }}">Train Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('download_results') }}">Download Results</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('post_training') }}">Post-Training Analysis</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
