{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/preprocess.css') }}">
</head>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Preprocess Data</h2>
        <form action="{{ url_for('preprocess_data') }}" method="POST">
            <div class="form-group">
                <label for="columns_to_remove">Select Columns to Remove:</label>
                <select class="form-control" id="columns_to_remove" name="columns_to_remove" multiple>
                    {% for column in columns %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="missing_strategy">Handle Missing Values:</label>
                <select class="form-control" id="missing_strategy" name="missing_strategy">
                    <option value="mean">Mean Imputation</option>
                    <option value="median">Median Imputation</option>
                    <option value="remove">Remove Rows</option>
                </select>
            </div>
            <label for="target_column">Select Target Column:</label>
    <select name="target_column" id="target_column" required class="form-control">
        <option value="">-- Select a target column --</option>
        {% for column in columns %}
            <option value="{{ column }}">{{ column }}</option>
        {% endfor %}
    </select>
            <div class="form-group">
                <label for="scaling_method">Scaling Method:</label>
                <select class="form-control" id="scaling_method" name="scaling_method">
                    <option value="none">None</option>
                    <option value="standard">Standardize</option>
                    <option value="minmax">Normalize</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Apply Preprocessing</button>
        </form>
    </div>
</div>
{% endblock %}
